@import "compass/reset";
@import "compass/css3";

$teal : #006766;
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700; 

@mixin clearfix(){
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

//COMPASS SPRITES
// @import "compass/utilities/sprites";
// @import "icon/*.png";
// @include all-icon-sprites(true);

body{
  font:14px/1.5 'open-sans', sans-serif;
  font-weight:$fw-regular;
  color:#3d3d3d;
}
h1,h2,h3,h4,h5,h6{line-height:1}
a{text-decoration:none;}
section{@include clearfix();}
.container{max-width:1050px;margin:0 auto;@include clearfix();}
.cl-sm{clear:both;}

/*HERO SECTION*/
.stars{background:url(../img/review-stars.png) no-repeat;width:151px;height:21px;margin:0 auto 10px;}
.text-special{background:url(../img/once-a-month.png) no-repeat;width:113px;height:21px;text-indent:-9999px;margin:0 auto 70px;}
.section-hero{color:#fff;background:#000 url(../img/bg-hero.jpg) no-repeat center;text-align:center;padding:80px 0 30px;

  h1{font-size:67px;font-weight:$fw-semibold;text-transform:uppercase;}
  h2{font-size:28px;font-weight:$fw-light;
    span{font-weight:$fw-bold;text-transform:uppercase;font-size:32px;display:block;padding:20px 0 10px;}
  }
}
.choose-product{border:1px solid #fff;text-align:left;padding-left:20px;display:block;background:url(../img/arrow-down.png) 90% 50% no-repeat;width:205px;height:42px;line-height:42px;margin:0 auto;color:#fff;@include transition(background-color 0.2s ease-out, border-color 0.2s ease-out);text-transform:uppercase;font-weight:$fw-semibold;
  &:hover{background-color:#000;border-color:#000;text-decoration:none;}
}

/*HOW TO ENTER SECTION*/
.section-how-to-enter{color:$teal;background-color:#f9f9f9;
  h1{text-align:center;font-size:40px;font-weight:$fw-regular;padding:50px 0 110px;}
  h2{font-size:24px;font-weight:$fw-semibold;margin-bottom:12px;}
}
.img-how-to-enter{position:relative;width:585px;height:616px;float:left;
  & > img{max-width:100%;height:auto;}
}
.img-callout{width:232px;height:247px;background:url(../img/img-callout.png);padding:60px 20px 0;position:absolute;top:-70px;right:-130px;text-align:center;@include box-sizing(border-box);
  h3{font-size:24px;margin-bottom:12px;font-weight:$fw-semibold;text-transform:uppercase}
}
.list-how-to-enter{padding-left:70px;margin-left:80px;max-width:350px;position:absolute;left:700px;

  & > li{position:relative;margin-bottom:30px;

    &:before{content:'';width:53px;height:53px;border:1px solid $teal;border-radius:100%;position:absolute;text-align:center;font-size:24px;font-weight:$fw-light;line-height:53px;left:-70px;}
    &.step-1:before{content:'1'}
    &.step-2:before{content:'2'}
    &.step-3:before{content:'3'}

  }

  p{color:#3d3d3d}
}

/*TIPS SECTION*/
.section-tips{background:$teal url(../img/bg-tips.png) center repeat-x;color:#fff;
  h1{text-align:center;font-size:40px;font-weight:$fw-regular;padding:50px 0;}
  h2{font-size:24px;margin-bottom:12px;font-weight:$fw-regular;} 
  p{color:#e4e4e4;} 
}
.list-tips{
  & > li{float:left;max-width:430px;margin-bottom:60px;

    &:nth-child(even){margin-left:18%}
  }
}

/*BROWSE SECTION*/
.section-products{color:#3d3d3d;padding:50px 0;
  h2{font-size:24px;font-weight:$fw-regular;text-align:center;padding:30px 0;}
}
.btn-browse{background:url(../img/btn-browse.png) repeat-x;width:309px;height:53px;color:#fff;text-align:center;line-height:48px;left:10px;font-size:15px;
  &:hover{text-decoration:none;background-position:0 100%}
}
.list-browse-products{

  & > li{border:1px solid #727272;position:relative;width:328px;height:328px;display:inline-block;margin-left:26px;
    img{position:absolute;z-index:1;width:100%;height:100%;}
    .btn-browse{position:absolute;bottom:15px;z-index:2}
    &:first-child{margin-left:0}
  }
}
.search-wrap{width:560px;margin:0 auto;position:relative;
  h3{font-size:18px;font-weight:$fw-semibold;text-transform:uppercase;position:absolute;top:18px;}
}
.input-wrap{position:relative;width:330px;height:48px;border:1px solid #3d3d3d;overflow:hidden;margin-left:225px;
  input[type="text"]{background:#fff;font-weight:$fw-light;font-style:italic;font-size:14px;padding-left:12px;padding-right:12px;position:absolute;left:0;border:none;width:80%;height:100%;
    &:focus{font-style:normal;font-weight:$fw-regular;@include box-shadow(none);outline:none;border:none;}
  }
  input[type="submit"]{border:none;text-indent:-9999px;background:url(../img/input-search.png) no-repeat;position:absolute;right:0;width:51px;height:48px;}
}

/*FOOTER SECTION*/
.section-footer{background:#2a2a2a;color:#aaa;font-size:12px;padding:50px 0;
  a{color:$teal;text-decoration:underline;}
}

/*RESPONSIVE MEDIA QUERIES*/
@media screen and (max-width:1200px){
  .list-how-to-enter{left:640px}
}

@media screen and (max-width:1024px){
  .container{max-width:960px;}
  .img-how-to-enter{float:none;margin:0 auto}
  .list-how-to-enter{position:relative;clear:both;left:auto;padding-top:30px;margin:auto;padding:30px 100px 0;overflow:hidden;max-width:none;
    & > li{float:left;width:45%;
      &:last-child{margin-left:10%}
    }
  }
  .list-tips{
    & > li{
      &:nth-child(even){margin-left:9%}
    }  
  }
  .btn-browse{width:280px;}
  .list-browse-products{min-width:960px;
    & > li{margin-left:12px;width:300px;height:300px;}
  }

}

@media screen and (max-width:968px){
  .container{max-width:none;padding:0 20px;}
  .list-tips > li{max-width:none;width:48%;
    &:nth-child(even){margin-left:2%;}
  }
}

@media screen and (max-width:768px){
  .list-browse-products{min-width:inherit;
    & > li{clear:both;margin:0 auto 20px;display:block;
      &:first-child{margin-left:auto}
    }
  }
  .img-callout{right:-60px}
}

@media screen and (max-width:680px){
  .search-wrap{width:100%;
    h3{position:relative;top:0;text-align:center;margin-bottom:20px;}
    .input-wrap{margin-left:auto;margin-right:auto;width:100%;
      input[type="text"]{font-size:12px}
    }
  }
  .list-how-to-enter{
      & > li{float:none;clear:both;width:100%;
        &:last-child{margin-left:0}
      }
  }  
  .img-callout{
    right:0;
  }
  .section-how-to-enter{padding:0 20px;} 
  .img-how-to-enter{width:100%;height:auto;}
}

@media screen and (max-width:520px){
  .section-hero{background-size:cover;}
  .img-callout{top:-100px;}
  .list-tips > li{width:100%;clear:both;
    &:nth-child(even){margin-left:0;}
  }  
}

@media screen and (max-width:480px){
  .list-how-to-enter{padding:30px 0 0 70px;}
}