!!! 5
html
  head
    title Bazaarvoice Kwikset
    link(href="css/kwikset.css", rel="stylesheet")
    <script src="//use.typekit.net/yrv0avv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>      

  body
    .bazaar-wrap
      section.section-hero
        .container
          .stars
          h1 Review &amp; Win!
          h2 Write a Product review for a chance to <span>WIN $250</span>
          .text-special Once a Month
          a.choose-product(href="#browse") Choose a Product
      
      section.section-how-to-enter
        h1 How To Enter
        .img-how-to-enter
          .img-callout 
            h3 To Submit a Review
            p Use this link below each product name.
          img(src="img/how-to-gfx.png", alt="")

        ol.list-how-to-enter
          li.step-1
            h2 Find your product
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

          li.step-2
            h2 Sign up for a free account
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria.

          li.step-3
            h2 Write your review
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Sint occaecat cupidatat non.

      section.section-tips
        .container
          h1 Tips on Writing Reviews
          ul.list-tips
            li 
              h2 Be Real
              p Write about your own experience and explain why you liked or disliked the product. Be as accurate as possible, and include both the positive and negative aspects of your experience.

            li
              h2 Be Informative 
              p Write about the specifics of the product you are reviewing; design, ease of use, ect. What makes the product unique.

            li.cl-sm
              h2 Be respectful
              p Not every experience with a product is going to be perfect. We are happy to receive constructive criticism, it helps us make better products. Please refrain from using profanity, obscene comments or spiteful remarks.

            li
              h2 Avoid
              p Email addresses, URLs, phone numbers, physical addresses or other forms of contact information. Advertisements, “spam” content, or references to other products, offers or web sites

      section.section-products#browse
        .container
          ul.list-browse-products
            li
              img(src="img/browse-kitchen.jpg", alt="Browse Kitchen")
              a.btn-browse(href="#") Browse Kitchen Products

            li
              img(src="img/browse-bath.jpg", alt="Browse Bath")
              a.btn-browse(href="#") Browse Bath Products

            li
              img(src="img/browse-tub.jpg", alt="Browse Tub")
              a.btn-browse(href="#") Browse Tub &amp; Shower

          h2 OR
          .search-wrap
            h3 Search All Products
            .input-wrap
              input(type="text", value="Enter a keyword or product number")
              input(type="submit", value="")


      section.section-footer
        .container
          p NO PURCHASE NECESSARY TO ENTER OR WIN. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. <a href="#">View official rules.</a>


    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="js/scripts.js")
